### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Gradle ###
.gradle/
build/

### Maven ###
target/

### Java ###
*.hprof
*.hprof.*
.kotlin/

### VS Code ###
.vscode/

### Front ###
node_modules/
out/
dist/

### misc ###
logs/
*.log
*.db
*.bak

### OS ###
.DS_Store
Thumbs.db
